.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.appContainer {
    max-width: 500px;
    min-width: 200px;
    width: 80%;
    height: 800px;

    position: relative;
}

.taskboard_flex {
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}